.itemContainer {
  background: #303245;
  margin-block-start: 0.5rem;
  padding-inline-start: 1rem;
  padding-block: 0.2rem;
  min-height: 24px;
  cursor: pointer;
  border-radius: 8px;
  text-align: left;
}

.itemContainer h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-end: 1rem;
}

.itemDay {
  font-size: 1.5rem;
}
